// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.is-locked{
    & body{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }
}