.section{
    padding: 85px 0;
    &__title{
        margin: 0 auto;
        font-size: 42px;
        @include font-weight( 'bold' );
        max-width: 630px;
        text-align: center;
        line-height: 1.2;
        &_color{
            &-w{
                color: $white-color;
            }
        }
    }
    &__desc{
        margin: 0 auto;
        margin-top: 15px;
        line-height: 1.6;
        max-width: 1025px;
        text-align: center;
        color: $text-color-lighter;
        &_color{
            &-w{
                color: $white-color;
            }
        }
    }
    &__btn{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}