.f-b-item{
    @include flex( column, center, flex-start );
    width: 250px;
    text-align: center;
    &_align{
        &-left{
            align-items: flex-start;
            text-align: left;
        }
        &-right{
            align-items: flex-end;
            text-align: right;
        }
    }
    &__icon{
        max-height: 75px;
        margin-bottom: 20px;
    }
    &__name{
        margin: 0;
        font-size: 18px;
        @include font-weight( 'bold' );
        color: $secondary-color;
    }
    &__desc{
        margin: 0;
        line-height: 1.4;
        color: $text-color;
        margin-top: 5px;
    }
}